<div class="container">
    <p>-------------------<span class="save">Bundle & Save</span>
        ------------------</p>
    <div class="design">
    <div class="row">
    <div class="col md-6">
        <div><input type="radio" class="input">1 Pair <h6>Dkk 195.00</h6> </div></div>
        <div class="col md-6"><h6 class="input">50% OFF</h6></div>
  </div>
  </div>
  <div class="design1">
    <div class="row ">
    <div class="col md-6">
            <div><input type="radio" class="input">2 Pair <h6>Dkk 345.00</h6></div>
    </div>
    <div class="col md-6"><h6 class="input"><span class="most">Most Popular</span><br>40% OFF</h6></div>
    </div>
        <div><p><span class="size">Size</span><span class="pan">Colour</span></p></div>
        <div>#1 <select>
            <option value="S">S</option>
            <option value="m">M</option>
            <option value="r">R</option>
            <option value="s">S</option>
        </select>
        <span>
            <select>
            <option value="Colur">Colour</option>
            <option value="red">Red</option>
            <option value="yellow">yellow</option>
            <option value="Green">Green</option>
        </select></span></div>
        <div>#2 <select>
            <option value="S">S</option>
            <option value="m">M</option>
            <option value="r">R</option>
            <option value="s">S</option>
        </select>
        <span>
            <select>
            <option value="Colur">Colour</option>
            <option value="red">Red</option>
            <option value="yellow">yellow</option>
            <option value="Green">Green</option>
        </select></span></div>
        </div>

    </div>
    <div class="design2">
     <div class="row">
    <div class="col md-6">
        <input type="radio" class="input">3 Pair<h6>Dkk 528.00</h6></div>
    <div class="col md-6"><h6>60% OFF</h6></div>
    
       </div> 
    </div>
    <div class="design3">
    <div class="row">
        <div class="col md-6">
            <p class="page">Free 2 Day Shipping</p></div>
        <div class="col md-6"><h6><span>Total:</span>DKK 366.00</h6></div>
</div>
</div>
    <div class="col">
   
    <button > + Add to cart</button></div>
<div class="pum">
    @ Powered by Pumper
</div>


