<div class="container">
<div class="row">
        
        <div class="col-md-4">
            <div class="events">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcR2iQECPfO5xuc2R-yCJ_hjBR9MJprFALokoYhAScyp3hOT9lETaxEYOL3YtP2Gc47-M&usqp=CAU" alt="">
            <h5>Events and Activities</h5>
            <br>
            <p>Lorem ipsum dolor sit amet</p>
            <p>consecter adipiscing elit</p>
            <p>Aliquam at sagittis ligula</p>
            <p>Vivarmus tristique</p>
            <p>Duis auctor sapien in augue</p>
        </div>
        </div>
        <div class="col-md-4">
            <div class="events">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPNaA-s4ceN6Btmltp6SBbgXCq24U7UEvymg&usqp=CAU" alt="">
            <h5>Events and Activities</h5>
            <br>
            <p>Lorem ipsum dolor sit amet</p>
            <p>consecter adipiscing elit</p>
            <p>Aliquam at sagittis ligula</p>
            <p>Vivarmus tristique</p>
            <p>Duis auctor sapien in augue</p>
        </div>
        </div>
        <div class="col-md-4">
            <div class="events">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWkEYel27OXWLHdKwlaillQgnj_F9EjvqHYA&usqp=CAU" alt="">
            <h5>Events and Activities</h5>
            <br>
            <p>Lorem ipsum dolor sit amet</p>
            <p>consecter adipiscing elit</p>
            <p>Aliquam at sagittis ligula</p>
            <p>Vivarmus tristique</p>
            <p>Duis auctor sapien in augue</p>
        </div>
        </div>
    </div>
</div>