.events{
    
    text-align: center;
    margin-bottom: -140px;
    width: 300px;
    height: 370px;
    margin-top: 120px; 
    
    
    
    background-color : white;
    box-shadow: 0 50px 50px grey;
    padding: 25px;
    
}
.events img{
    width: 70px;
    background-color: green;
    }
  
.row{
     margin-top:30px ;
    background-color: green;
    

    
}